@import './normalize.min.css';

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    margin-right: calc(-1 * (100vw - 100%));
    overflow-x: hidden;
}

:root {
    --primary-color: #22343d;
}

* {
    color: var(--primary-color);
    transition: 0.2s all;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
}

.background {
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

/* HEADER */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto 23px auto;
    padding: 20px 10px;
}

.header__symbol {
    display: flex;
}

.header__symbol:hover {
    opacity: 0.8;
}

.header__avatar {
    max-height: 32px;
}

.header__avatar:hover {
    opacity: 0.8;
}

.header__logo {
    margin-right: 16px;
}

.header__company {
    font-weight: 700;
    font-size: 30px;
    color: #173a56;
}

.header__logo-text {
    font-weight: bold;
    font-size: 30px;
    color: #173a56;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__links {
    display: flex;
    align-items: center;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__burger {
    display: none; /* flex */
    flex-direction: column;
}

.header__line {
    margin-bottom: 3px;
    max-height: 4px;
}

.header__sign {
    border: 1px solid #bcd0e5;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 22px 9px 25px;
    font-weight: 600;
    margin-right: 23px;
}

.header__sign:hover {
    opacity: 0.8;
}

.header__sign_white {
    color: #173a56;
}

.header__sign_green {
    background: #02897a;
    color: #fff;
}

.header__list-item {
    margin-right: 25px;
}

.header__link {
    transition: text-shadow 0.3s;
    font-size: 1rem;
}

.header__link:hover {
    text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

/* MAIN */
.main {
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto 109px auto;
    padding: 0 10px;
}

.main__text {
    padding-top: 119px;
    padding-left: 12px;
}

.main__header {
    margin-top: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;

    margin-bottom: 18px;
}

.main__subheader {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 60px;
}

.watch__link {
    padding: 15px 41px 14px 41px;
    background: #02897a;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    margin-right: 29px;
    white-space: nowrap;
}

.watch__button {
    font-weight: 600;
}

.watch__link:hover {
    opacity: 0.8;
}

.watch__video {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    color: #02897a;
    white-space: nowrap;
    display: flex;
}

.watch__button {
    color: #02897a;
}

.watch__icon {
    margin-right: 9px;
}

.main__watch {
    display: flex;
    align-items: center;
}

.main__svg {
    width: 100%;
}

.watch__video:hover {
    opacity: 0.8;
}

/* FOR-YOU */

.advantage__header {
    font-weight: 700;
    font-size: 32px;

    text-align: center;
}

.advantage__icon {
    margin-bottom: 16px;
}

.advantage__headline {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 22px;
}

.advantage__subheadline {
    font-size: 16px;
    line-height: 26px;
    height: 78px;
    font-weight: 400;
}

.advantage__list {
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
    max-height: 204px;
    margin-bottom: 36px;
}

.advantage__item {
    min-width: 240px;
    margin: 0 22px;
    max-height: 204px;
}

.advantage__sign {
    background: #02897a;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 32px 14px 34px;
    display: inline-block;
}

.advantage__sign:hover {
    opacity: 0.8;
}

.advantage__btn {
    text-align: center;
}

.advantage__bg {
    margin-bottom: 71px;
}

.advantage__without-bg {
    position: relative;
    padding-bottom: 125px;
    margin-bottom: 120px;
    background: url(/img/Bgbg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.for-you__background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}

/* MANAGEMENT */

.management {
    padding: 0 10px;
    max-width: 1110px;
    margin: 0 auto 156px auto;
}

.management__manage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.management__support {
    display: flex;
    margin-bottom: 124px;
}

.management__text {
    padding-top: 19px;
    display: flex;
    flex-direction: column;
}

.management__supheader {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

.management__header {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 28px;
}

.management__subheader {
    line-height: 26px;
    margin-bottom: 32px;
    font-weight: 400;
}

.section__header {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 12px;
}

.section__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.plus__text {
    font-weight: 400;
}

.management__section:first-of-type {
    margin-bottom: 25px;
}

.management__text_extra-margin-padding {
    padding-top: 20px;
}

.management__picture_extra-margin {
    margin-right: 78px;
}

.management__text_padding {
    padding: 29px 5px 0 5px;
}

.management__support {
    display: flex;
    justify-content: space-between;
}

.management__collaborative {
    display: flex;
}

.plus__item {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}

.plus__icon {
    margin-right: 30px;
}

.plus__item:last-of-type {
    margin-bottom: 0;
}

/* EASY */
.easy {
    margin-bottom: 139px;
}

.easy__header {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 19px;
}

.easy__subheader {
    font-size: 16px;
    margin-bottom: 35px;
}

.easy__bg {
    text-align: center;
    position: relative;
    padding-top: 52px;
    background: url(/img/Bgbg2.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.easy__comments {
    max-width: 971px;
    margin: 0 auto;
}

.easy__comment {
    display: flex;
    align-items: center;
}

.easy__text {
    padding: 15px 24px 14px 25px;
    background: #ffffff;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    color: #2f281e;
    position: relative;
}

.easy__text-right {
    padding: 15px 24px 14px 25px;
    background: #ffffff;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    color: #2f281e;
    position: relative;
}

.easy__text::before {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    top: 42px;
    left: 32px;
}

.easy__text-right::before {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    top: 42px;
    right: 32px;
}

.easy__descr-right::before {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    top: 61px;
    right: 22px;
}

.easy__descr-right {
    position: relative;
}

.easy__descr-right::before {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    top: 61px;
    right: 22px;
}

.easy__descr {
    position: relative;
}

.easy__descr::before {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    top: 61px;
    left: 22px;
}

.easy__img-wrapper {
    margin-right: 16px;
}

.easy__comment-wrapper1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.easy__comment-wrapper-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.easy__img-wrapper_without-margin {
    margin-right: 43px;
}

.easy__text_extra-margin {
    margin-right: 16px;
}

.easy__without-bg {
    background-color: #e5e5e5;
}

.easy__contact {
    display: inline-block;
    padding: 15px 31px 14px 30px;
    background: #02897a;
    border-radius: 4px;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
}

.easy__contact:hover {
    opacity: 0.8;
}

.easy__contact-wrapper {
    text-align: center;
    padding-top: 27px;
    padding-bottom: 14px;
    background-color: rgba(255, 255, 255, 0.99);
}

/* CONTENT */
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    max-width: 1120px;
    margin: 0 auto 150px auto;
}

.content__header {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 15px;
}

.content__subheader {
    margin-bottom: 33px;
}

.strategy__picture {
    max-width: 100%;
    height: auto;
}

.strategy__image {
    width: 100%;
}

.strategy__text {
    padding: 24px 30px 40px 24px;
}

.strategy__supheader {
    margin-bottom: 18px;
}

.strategy__strong {
    font-weight: 700;
}

.strategy__header {
    font-weight: 700;
    font-size: 24px;
}

.strategy__header:hover {
    color: #02897a;
    cursor: pointer;
}

.content__cards {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    justify-content: space-between;
}

.content__card {
    border-radius: 8px;
    border: 1px solid #dedede;
    cursor: pointer;
    min-height: 359px;
    max-width: 340px;
}

.content__card:last-of-type {
    margin-right: 0;
}

.content__dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__points {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content__dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #efefef;
    margin-right: 10px;
    cursor: pointer;
}

.content__dot_active {
    background-color: #02897a;
}

.content__dot:last-of-type {
    margin-right: 0;
}

/* PRICE */
.price {
    text-align: center;
    max-width: 1110px;
    margin: 0 auto;
}

.price__header {
    font-weight: 700;
    font-size: 34px;
}

.price__header {
    margin-bottom: 14px;
}

.price__card {
    padding: 24px 76px 28px 73px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    min-height: 456px;
}

.price__card:hover * {
    color: #fff;
}

.price__card:hover {
    background: #02897a;
}

.price__card:hover .card__button .card-order {
    background-color: #fff;
    color: #02897a;
}

.price__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.card__header {
    font-size: 24px;
    font-weight: 700;
}

.card__header {
    margin-bottom: 24px;
}

.price__subheader {
    margin-bottom: 50px;
}

.card__cost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}

.month__dollar {
    display: flex;
    justify-content: flex-start;
}

.card__price {
    font-weight: 700;
    font-size: 76px;
    color: #02897a;
    margin-right: 8px;
}

.month__dollar {
    color: #02897a;
    font-weight: 700;
    font-size: 24px;
    font-family: Inter, sans-serif;
}

.month__subdollar {
    color: #afafaf;
    letter-spacing: 0.1px;
    font-size: 16px;
    font-weight: 400;
}

.card__subheader {
    margin-bottom: 21px;
    font-weight: 400;
}

.subprise__item {
    margin-bottom: 16px;
    font-family: Inter, sans-serif;
}

.subprise__item:last-of-type {
    margin-bottom: 0;
}

.card-order {
    padding: 11px 19px 11px 18px;
    background: #02897a;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
    font-family: Montserrat, sans-serif;
    display: inline-block;
}

.card-order:hover {
    opacity: 0.8;
}

.card__button {
    height: auto;
}

.card-subprise {
    margin-bottom: 49px;
}

.price__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* message */
.message {
    padding: 52px 0;
    margin: 0 145px;
    background: #ffffff;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 60px;
}

.message__header {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.message__data {
    margin: 0;
    display: block;
    padding: 19px 0 19px 20px;
    width: 100%;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 39px;
    margin-bottom: 45px;
    border: 1px solid #e8e8e8;
}

.message__header {
    margin-bottom: 45px;
}

.message__data::placeholder {
    color: #22343d;
    letter-spacing: 0.1px;
}

.message__form {
    padding: 0 104px;
}

.message__textarea {
    padding: 23px 0 154px 20px;
    width: 100%;
    border: 0;
    resize: none;
    background: #f5f5f5;
    margin-bottom: 45px;
}

.message__submit {
    padding: 18px 54px;
    background: #02897a;
    color: #fff;
    border-radius: 35px;
    border: 0;
    font-family: Roboto, sans-serif;
}

.message__submit:hover {
    opacity: 0.8;
}

/* FOOTER */

.footer {
    max-width: 1120px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 6px;
    margin: 0 auto 22px auto;
}

.preview__text {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.preview__text:hover {
    opacity: 0.8;
}

.preview__symbol {
    margin-right: 16px;
}

.preview__company {
    font-weight: 700;
    font-size: 30px;
}

.footer__social-medias {
    display: flex;
    align-items: center;
}

.footer__social-medias {
    display: flex;
    align-items: center;
}

.social__icon {
    margin-right: 16px;
}

.social__icon:last-of-type {
    margin: 0;
}

.social__link {
    margin-right: 17px;
}

.social__link:hover {
    opacity: 0.8;
}

.resource__header {
    font-size: 20px;
    margin-bottom: 16px;
}

.footer__preview {
    margin-right: 155px;
    padding: 0 3px;
}

.footer__resource {
    padding: 0 3px 0 3px;
    margin-right: 153px;
    display: flex;
    flex-direction: column;
}

.resource__item {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 13px;
}

.resource__item:hover {
    opacity: 0.8;
}

.footer__resource {
    padding: 0 3px 0 3px;
    display: flex;
    flex-direction: column;
    margin-right: 81px;
}

.footer__phone {
    padding: 0 3px 0 3px;
}

.phone__subinput {
    font-size: 20px;
}

.phone__data {
    padding: 10px 100px 10px 15px;
    max-width: 320px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
}

.phone__subinput {
    margin-bottom: 34px;
}

.phone__submit {
    color: #fff;
    background: #02897a;
    padding: 8px 15px 7px 15px;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
}

.phone__submit:hover {
    opacity: 0.8;
}

.phone__data {
    margin-bottom: 22px;
}

.footer__message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.phone__message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subfooter {
    text-align: center;
    padding-bottom: 45px;
}

.subfooter__text {
    font-weight: 400;
    font-size: 16px;
}

.phone__data::placeholder {
    color: #22343d;
}

.easy__descr_extra-margin {
    margin-right: 16px;
}

.strategy:hover .strategy__header {
    color: #02897a;
}

/* MEDIAS */

@media (max-width: 1024px) {
    .header {
        margin-bottom: 20px;
        padding: 20px 3px;
    }

    .header__list-item {
        margin-right: 7px;
    }

    .header__sign {
        margin-right: 10px;
    }

    .advantage__without-bg {
        padding: 0;
        margin-bottom: 40px;
    }

    .management__picture_extra-margin {
        margin-right: 0;
    }

    .management__picture {
        width: 50%;
    }

    .management__text {
        width: 50%;
        padding-left: 25px;
    }

    .management__img {
        width: 100%;
    }

    .advantage__list {
        flex-wrap: wrap;
        max-height: 100%;
    }

    .advantage__item {
        width: 34%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .advantage__btn {
        margin-bottom: 50px;
    }

    .management {
        padding: 0 5px;
    }

    .easy__comment-wrapper1 {
        flex-direction: column;
    }

    .easy__comment-wrapper-2 {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .footer__preview {
        margin-right: 0;
    }

    .footer__resource {
        margin-right: 0;
    }

    .footer__resource {
        margin-right: 0;
    }

    .easy__comments {
        padding: 0;
    }

    .main {
        margin-bottom: 40px;
    }

    .content {
        align-items: center;
    }

    .content__cards {
        flex-wrap: wrap;
    }

    .content__card {
        width: 33%;
        min-height: 308px;
    }

    .strategy__header {
        font-size: 1rem;
    }

    .content__card:last-of-type {
        margin-bottom: 0;
    }

    .price__cards {
        padding: 0 3px;
    }

    .price__card {
        margin-bottom: 15px;
        width: 32%;
        padding: 24px 0 28px 0;
    }

    .advantage__item:nth-child(1),
    .advantage__item:nth-child(2) {
        margin-bottom: 15px;
    }

    .header {
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    }

    .preview {
        width: 25%;
    }

    .resource {
        width: 15%;
    }

    .phone {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .management__picture {
        margin: 0 auto;
    }

    .content__points {
        display: none;
    }

    .main__svg {
        max-width: 460px;
    }

    .message {
        border: 0;
    }

    .main__img {
        text-align: center;
    }

    .content__subheader {
        text-align: center;
    }

    .content__header {
        text-align: center;
    }

    .preview {
        width: 100%;
    }

    .resource {
        width: 100%;
    }

    .phone {
        width: 100%;
    }

    .preview__text {
        justify-content: center;
    }

    .header__links {
        display: none;
    }

    .header__burger {
        display: flex;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer__social-medias {
        justify-content: center;
    }

    .management__text {
        padding-left: 0;
    }

    .price__cards {
        flex-direction: column;
    }

    .management__picture {
        width: 100%;
        max-width: 500px;
    }

    .price__card {
        width: 100%;
        padding: 24px 76px 28px 73px;
    }

    .content__card {
        width: 100%;
        min-height: 308px;
    }

    .management__manage {
        flex-flow: column-reverse;
        align-items: center;
    }

    .management__collaborative {
        flex-flow: column-reverse;
        align-items: center;
    }

    .management__support {
        flex-flow: column;
    }

    .footer__phone {
        padding: 0;
        text-align: center;
    }

    .header {
        margin-bottom: 20px;
    }

    .footer__resource {
        align-items: center;
    }

    .footer__resource {
        align-items: center;
    }

    .phone__subinput {
        text-align: center;
    }

    .footer__message {
        align-items: center;
    }

    .phone__message {
        align-items: center;
    }

    .advantage__btn {
        margin-bottom: 20px;
    }

    .main__text {
        padding-top: 20px;
    }

    .management__manage {
        margin-bottom: 30px;
    }

    .management__support {
        margin-bottom: 30px;
    }

    .management {
        margin-bottom: 20px;
    }

    .content__cards {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .content {
        margin-bottom: 40px;
    }

    .price__cards {
        margin-bottom: 20px;
    }

    .message {
        margin-bottom: 20px;
    }

    .easy {
        margin-bottom: 20px;
    }

    .main__text {
        padding-top: 20;
        padding-left: 0;
    }

    .easy__svg {
        width: 90%;
    }

    .easy__descr {
        width: 100%;
    }

    .easy__comment-wrapper1 {
        width: 100%;
    }

    .main__watch {
        flex-direction: column;
    }

    .watch__link {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .message__form {
        text-align: center;
    }

    .main {
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .main__text {
        text-align: center;
    }

    .main__header {
        font-size: 40px;
    }

    .main__watch {
        justify-content: center;
    }

    .message {
        margin: 0;
        margin-bottom: 60px;
    }

    .main {
        margin-bottom: 20px;
    }

    .main__svg {
        height: 100%;
    }

    .content__card {
        margin-bottom: 15px;
    }

    .content__card .main__text {
        padding-top: 0;
    }

    .management__text {
        flex-direction: column;
        width: 100%;
    }

    .content__card {
        margin-right: 0;
    }

    .content__card:first-of-type {
        margin-right: 0;
    }

    .price {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .message__form {
        padding: 0 20px;
    }

    .advantage__without-bg {
        margin-bottom: 20px;
        padding: 0;
    }

    .advantage__bg {
        margin-bottom: 20px;
    }
}
